.page {
  display: none;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: azure;
}

body {
  /* overflow: hidden; */
  height: 100%;
  margin: 0;
  padding: 0;
}

.active {
  font-weight: 500;
}
